*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main{
    margin: 50px;
    padding: 50px;
}

body{
    margin: 50px;
}
.product-image {
   width: 50px;
    
}

h1{
    text-align: center;
}

.cart-actions {
    margin: 20px 0;
}

.add-to-cart {
    margin-left: 10px;
}