
<div class="home">

       <div class="cart-actions">
            <button id="createCartBtn" class="btn btn-success">Crear Carrito</button>
            <a id="viewCartLink" href="#" class="btn btn-primary" style="display: none;">Ver Carrito</a>
        </div>
    <h1>Home</h1>
    <h2>Lista de productos</h2>
    <ul>
        {{#each products}}
        <li>{{this.title}} - {{this.price}} 
            <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product-image"></li>
        {{/each}}
    </ul>
</div>